<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment/header :: commonHeader"></th:block>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/summoner-detail.css">
    <!--ladda-bootstrap-->
    <link rel="stylesheet" href="css/ladda-themeless.min.css">
    <link rel="stylesheet" href="css/ladda.min.css">

    <input type="hidden" id="summonerName" th:value="${summonerName}">
</head>
<body>

    <div class="summoner_info_box"></div>
    <div class="tabs_box"></div>

    <th:block th:replace="fragment/footer :: commonFooter"></th:block>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="js/summoner-detail.js"></script>
    <!--ladda-bootstrap-->
    <script src="js/spin.js"></script>
    <script src="js/ladda.js"></script>
</body>
</html>