<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment/header :: commonHeader"></th:block>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/summoner-detail.css">
    <input type="hidden" id="summonerName" th:value="${summonerName}">
</head>
<body>

    <div class="summoner_info_box">
        <div class="summoner_profile"></div>
        <div>
            <div class="summoner_name"></div>
            <div class="summoner_level"></div>
        </div>
    </div>

    <div id="tabs">
        <ul>
            <li><a href="#tabs-review">리뷰</a></li>
            <li><a href="#tabs-match">전적</a></li>
        </ul>
        <div id="tabs-review">
            <p>준비 중 입니다...</p>
        </div>
        <div id="tabs-match">
            <button id="btn-renew" class="btn btn-primary Button Blue">업데이트</button>
        </div>
    </div>

    <th:block th:replace="fragment/footer :: commonFooter"></th:block>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="js/summoner-detail.js"></script>
</body>
</html>